/* 按钮样式定义 */
.l-button {
  /* 定义按钮字体粗细、边框颜色、背景颜色、文本颜色等 */
  --l-button-font-weight: var(--l-font-weight-primary); /* 主字体粗细 */
  --l-button-border-color: var(--l-border-color); /* 边框颜色 */
  --l-button-bg-color: var(--l-fill-color-blank); /* 按钮背景颜色 */
  --l-button-text-color: var(--l-text-color-regular); /* 按钮文本颜色 */
  --l-button-disabled-text-color: var(--l-disabled-text-color); /* 禁用时的文本颜色 */
  --l-button-disabled-bg-color: var(--l-fill-color-blank); /* 禁用时的背景颜色 */
  --l-button-disabled-border-color: var(--l-border-color-light); /* 禁用时的边框颜色 */
  --l-button-hover-text-color: var(--l-color-primary); /* 悬停时的文本颜色 */
  --l-button-hover-bg-color: var(--l-color-primary-light-9); /* 悬停时的背景颜色 */
  --l-button-hover-border-color: var(--l-color-primary-light-7); /* 悬停时的边框颜色 */
  --l-button-active-text-color: var(--l-button-hover-text-color); /* 激活时的文本颜色 */
  --l-button-active-border-color: var(--l-color-primary); /* 激活时的边框颜色 */
  --l-button-active-bg-color: var(--l-button-hover-bg-color); /* 激活时的背景颜色 */
  --l-button-outline-color: var(--l-color-primary-light-5); /* 按钮轮廓颜色 */
  --l-button-active-color: var(--l-text-color-primary); /* 激活时的主色 */
}

/* 基本按钮样式 */
.l-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  height: 32px;
  white-space: nowrap;
  cursor: pointer;
  color: var(--l-button-text-color);
  text-align: center;
  box-sizing: border-box;
  outline: none;
  transition: 0.1s;
  font-weight: var(--l-button-font-weight);
  user-select: none;
  vertical-align: middle;
  -webkit-appearance: none;
  background-color: var(--l-button-bg-color);
  border: var(--l-border);
  border-color: var(--l-button-border-color);
  padding: 8px 15px;
  font-size: var(--l-font-size-base);
  border-radius: var(--l-border-radius-base);
  & + & {
    margin-left: 12px;
  }
  &:hover,
  &:focus {
    color: var(--l-button-hover-text-color);
    border-color: var(--l-button-hover-border-color);
    background-color: var(--l-button-hover-bg-color);
    outline: none;
  }
  &:active {
    color: var(--l-button-active-text-color);
    border-color: var(--l-button-active-border-color);
    background-color: var(--l-button-active-bg-color);
    outline: none;
  }

  /* 普通按钮样式 */
  &.is-plain {
    --l-button-hover-text-color: var(--l-color-primary);
    --l-button-hover-bg-color: var(--l-fill-color-blank);
    --l-button-hover-border-color: var(--l-color-primary);
  }

  /* 圆角按钮样式 */
  &.is-round {
    border-radius: var(--l-border-radius-round);
  }

  /* 圆形按钮样式 */
  &.is-circle {
    border-radius: 50%;
    padding: 8px;
  }

  /* 禁用按钮样式 */
  &.is-disabled,
  &.is-disabled:hover,
  &.is-disabled:focus,
  &[disabled],
  &[disabled]:hover,
  &[disabled]:focus {
    color: var(--l-button-disabled-text-color);
    cursor: not-allowed;
    background-image: none;
    background-color: var(--l-button-disabled-bg-color);
    border-color: var(--l-button-disabled-border-color);
  }

  /* 图标与文本之间的间距 */
  [class*='l-icon'] + span {
    margin-left: 6px;
  }
}

/* 按钮状态样式：primary、success、warning、info、danger */
@each $val in primary, success, warning, info, danger {
  .l-button--$(val) {
    --l-button-text-color: var(--l-color-white); /* 按钮文本颜色 */
    --l-button-bg-color: var(--l-color-$(val)); /* 按钮背景颜色 */
    --l-button-border-color: var(--l-color-$(val)); /* 按钮边框颜色 */
    --l-button-outline-color: var(--l-color-$(val)-light-5); /* 按钮轮廓颜色 */
    --l-button-active-color: var(--l-color-$(val)-dark-2); /* 激活时的颜色 */
    --l-button-hover-text-color: var(--l-color-white); /* 悬停时的文本颜色 */
    --l-button-hover-bg-color: var(--l-color-$(val)-light-3); /* 悬停时的背景颜色 */
    --l-button-hover-border-color: var(--l-color-$(val)-light-3); /* 悬停时的边框颜色 */
    --l-button-active-bg-color: var(--l-color-$(val)-dark-2); /* 激活时的背景颜色 */
    --l-button-active-border-color: var(--l-color-$(val)-dark-2); /* 激活时的边框颜色 */
    --l-button-disabled-text-color: var(--l-color-white); /* 禁用时的文本颜色 */
    --l-button-disabled-bg-color: var(--l-color-$(val)-light-5); /* 禁用时的背景颜色 */
    --l-button-disabled-border-color: var(--l-color-$(val)-light-5); /* 禁用时的边框颜色 */
  }

  /* 普通按钮的hover和disabled状态 */
  .l-button--$(val).is-plain {
    --l-button-text-color: var(--l-color-$(val)); /* 文本颜色 */
    --l-button-bg-color: var(--l-color-$(val)-light-9); /* 背景颜色 */
    --l-button-border-color: var(--l-color-$(val)-light-5); /* 边框颜色 */
    --l-button-hover-text-color: var(--l-color-white); /* 悬停时的文本颜色 */
    --l-button-hover-bg-color: var(--l-color-$(val)); /* 悬停时的背景颜色 */
    --l-button-hover-border-color: var(--l-color-$(val)); /* 悬停时的边框颜色 */
    --l-button-active-text-color: var(--l-color-white); /* 激活时的文本颜色 */
    --l-button-disabled-text-color: var(--l-color-$(val)-light-5); /* 禁用时的文本颜色 */
    --l-button-disabled-bg-color: var(--l-color-$(val)-light-9); /* 禁用时的背景颜色 */
    --l-button-disabled-border-color: var(--l-color-$(val)-light-8); /* 禁用时的边框颜色 */
  }
}

/* 大按钮样式 */
.l-button--large {
  --l-button-size: 40px;
  height: var(--l-button-size);
  padding: 12px 19px;
  font-size: var(--l-font-size-base);
  border-radius: var(--l-border-radius-base);
}

/* 小按钮样式 */
.l-button--small {
  --l-button-size: 24px;
  height: var(--l-button-size);
  padding: 5px 11px;
  font-size: 12px;
  border-radius: calc(var(--l-border-radius-base) - 1px);
}
